<!DOCTYPE html>
<html>
<head>
  <title>Mum's Page</title>
  <link rel="stylesheet" type="text/css" href="/css/application.css">  
</head>
<body>
  <%= yield %>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
</html>